//.header {
//    font-size: 200%;
//}

p {
    font-size: 1.5em;
    line-height: 1.4;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

A {
    text-decoration: none;
    color: $color-main;
    background-color: transparent;
    display: inline-block;
    transition: color $animSpeed-fast ease, background$animSpeed-fast ease;

    &:visited {
        color: $color-main;
    }

    &:hover {
        color: $color-black;
        background-color: $color-main;
    }
}