{{> meta/head }}

{{> partials/nav/nav }}

{{! > partials/canvas }}

<section class="content">
    <div class="container">
        <div class="home-wrapper">
            {{> partials/hero }}
            {{> partials/home-icons }}
        </div>
    </div>
</section>

{{> partials/footer }}

{{> meta/footer }}