{{> meta/head }}
{{> partials/header }}

<section class="content">
    <div class="container">
        {{#item.1 }}
            {{> partials/entry-full }}
        {{/item.1 }}
    </div>
</section>

{{> partials/footer }}

{{> meta/footer }}