<div class="client">
    <div class="client-logo">
        <img src="{{ client.logo }}" alt="{{ client.name }}">
    </div>
    <div class="client-link">
        <a href="{{ client.link }}">
            {{ client.text }} {{ client.name }}
        </a>
    </div>
</div>