<div class="entry entry-small">
    <a href="{{ link }}">
        <div class="entry-small-img">
            <img src="{{ preview.src }}" alt="{{ preview.alt }}">
        </div>

        <div class="entry-small-content">
            <h4>
                {{ title }}
            </h4>
            <p>
                {{ short }}
            </p>
        </div>
    </a>
    {{> partials/client }}
</div>