<section class="hero">
    <div class="container">
        <div class="gr-12">
            <div class="u-textCenter">

                <h1>Frontend Boilerplate</h1>
                <h3>
                    to make the Start a little easier.
                </h3>
                <p>
                    This Package comes with nice features pre configures, like:
                </p>

                <ul>
                    <li>RequireJs</li>
                    <li>Gridle SCSS framework</li>
                    <li>SVG icons</li>
                    <li>Mustache Templating</li>
                    <li>GSAP Animation Suite</li>
                </ul>

                <p>
                    To Install just terminal this:
                </p>
            </div>
        </div>
    </div>
</section>