<section class="hero">
    <div class="container">
        <div class="gr-12 u-textCenter">
            <h1>Goleon</h1>
            <h2>David Ziegler</h2>
        </div>
       <!-- <div class="gr-12">
            <div class="u-textCenter">
                <img src="/img/logo.png" alt="Goleon">
            </div>
        </div>-->
    </div>
</section>