<section class="home-icons">
    <div class="gr-8@large push-2@large gr-10 push-1 gr-12@m push-0@m">
        <div class="home-icons-item">
            <i class="icon-logo-css3">

            </i>
            <div>
                COde
            </div>
        </div>
        <div class="home-icons-item">
            <i class="icon-logo-html5">

            </i>
            <div>
                Responsive web design
            </div>

        </div>
        <div class="home-icons-item">
            <i class="icon-logo-yii">

            </i>
            <div>
                UI / UX
            </div>
        </div>
    </div>
</section>