[class^="icon-"] {
    width: 64px;
    height: 64px;

    speak: none;
    font-weight: normal;
    line-height: 1;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    background-position: center center;

    svg {
        max-width: 100%;
        max-height: 100%;
    }
}
